@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Accounts";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <h4>
                    <a href="/managements/accounts/create"> Create @ViewData["Title"] </a>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-2 form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="exampleFormControlInput1">Search</label>
                            </div>
                            <div class="col">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Left col -->
                <section class="col-lg connectedSortable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Otto</td>
                                <td>
                                    <a href="/managements/accounts/details">View/ </a>
                                    <a href="/managements/accounts/edit">Edit/ </a>
                                    <a href="/managements/accounts/delete">Delete </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>
                                    <a href="/managements/accounts/details">View/ </a>
                                    <a href="/managements/accounts/edit">Edit/ </a>
                                    <a href="/managements/accounts/delete">Delete </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                <td>
                                    <a href="/managements/accounts/details">View/ </a>
                                    <a href="/managements/accounts/edit">Edit/ </a>
                                    <a href="/managements/accounts/delete">Delete </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>
                                    <a href="/managements/accounts/details">View/ </a>
                                    <a href="/managements/accounts/edit">Edit/ </a>
                                    <a href="/managements/accounts/delete">Delete </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!-- /.Left col -->

            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->